%% {sub_dirs, ["rel"]}.

{cover_enabled, true}.

{erl_opts, [fail_on_warning]}.
%           {parse_transform, lager_transform}]}.

{deps,[
       %{lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
       {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.4.3"}}},
       {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {branch, "master"}}}
      ]}.
