%% {sub_dirs, ["rel"]}.

{cover_enabled, true}.

{escript_incl_apps, [getopt, riakc, protobuffs, riak_pb]}.

{erl_opts, [fail_on_warning]}.
%           {parse_transform, lager_transform}]}.

{deps,[
       %{lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
       {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
       {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "2.1.1"}}}
      ]}.
